//VARIABLES
//Colors
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-gray: hsl(0, 0%, 55%);
$clr-dark-gray: hsl(0, 0%, 41%);
$clr-pink: #c355d8;

//Fonts
$font-heading: "Josefin Sans", sans-serif;
$font-body: "Alata", sans-serif;

//MEDIA QUERIES
@mixin med {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

//RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

//MAIN STYLES
html {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  font-family: $font-body;
  margin: 0 auto;
  max-width: 96rem;
  position: relative;

  @media screen and (min-width: 1441px) {
    box-shadow: 0px 34px 40px 12px rgba(0, 0, 0, 0.2);
  }
}

a,
button,
.skip-links {
  &:focus {
    outline: 2px dotted $clr-pink;
  }
}

a {
  text-decoration: none;
  transition: 0.2s ease;
}

h1,
h2,
h3 {
  font-family: $font-heading;
  text-transform: uppercase;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

.skip-links {
  background: $clr-pink;
  color: #fff;
  padding: 4px;
  left: 8px;
  top: 0;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-links:focus {
  transform: translateY(0%);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
