.container {
  width: 90%;
  max-width: 73.3rem;
  margin: 0 auto;

  @include med {
    width: 95%;
  }
}

.cta {
  color: $clr-black;
  font-size: 0.93rem;
  letter-spacing: 0.33rem;
  display: inline-block;
  border: 1px solid;
  padding: 0.73rem 2.67rem;

  &:hover {
    background-color: $clr-black;
    color: $clr-white;
  }

  @include med {
    padding: 0.73rem 0;
  }
}
