.creations {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 6.4rem;

  @include med {
    padding-bottom: 12.27rem;
  }

  &__content {
    @include med {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 3.2rem 1fr;
      grid-template-areas: "title cta" "gallery gallery";
      row-gap: 3.2rem;
    }

    @include lg {
      row-gap: 5.33rem;
    }
  }

  h2 {
    font-size: 2.13rem;
    padding-bottom: 3.2rem;

    @include med {
      grid-area: title;
      justify-self: start;
      padding-bottom: 0;
      align-self: center;
    }

    @include lg {
      font-size: 3.2rem;
    }
  }

  &__gallery {
    grid-area: gallery;

    @include med {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @include xl {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  figure {
    position: relative;
    margin-bottom: 1.6rem;
    z-index: 3;
    color: $clr-white;
    transition: all 0.3s ease;

    @include med {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.0001) 28.89%,
        rgba(0, 0, 0, 0.601863) 100%
      );
      transition: all 0.2s ease;
    }

    &:hover {
      color: $clr-black;
    }

    &:hover::before {
      background: rgba(255, 255, 255, 0.75);
      top: 0;
    }
  }

  picture {
    position: relative;
  }

  img {
    margin: 0 auto;
    width: 100%;

    @include med {
      max-height: 30rem;
    }
  }

  figcaption {
    font-family: $font-heading;

    font-size: 1.6rem;
    position: absolute;
    bottom: 1.3rem;
    left: 1.3rem;
    width: 8.2rem;
    text-align: left;
    z-index: 5;

    @include lg {
      font-size: 2.13rem;
      width: auto;
    }

    @include xl {
      // font-size: 2.13rem;
      width: 11.3rem;
      left: 2.66rem;
      bottom: 2.13rem;
    }
  }

  &__link {
    grid-area: cta;
    margin-top: 0.67rem;

    &:hover {
      background-color: $clr-black;
      color: $clr-white;
    }

    @include med {
      justify-self: end;
      align-self: center;
      width: 10.47rem;
      height: 2.67rem;
      margin-top: 0;
    }
  }
}
