.footer {
  background-color: $clr-black;
  padding-top: 3.73rem;
  text-align: center;
  color: $clr-white;

  @include lg {
    padding-top: 2.93rem;
  }

  &__contents {
    @include lg {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 1.6rem;
      grid-template-areas: "logo icons" "nav copyright";
      padding-bottom: 1.87rem;
    }
  }

  &__logo {
    margin: 0 auto;

    @include lg {
      grid-area: logo;
      margin: 0;
      width: 9.6rem;
      height: 1.6rem;
    }
  }

  &__nav {
    padding: 2.13rem 0 3.2rem;

    @include lg {
      grid-area: nav;
      display: flex;
      gap: 2.13rem;
      padding: 0;
    }

    li:not(:last-child) {
      padding-bottom: 1.06rem;

      @include lg {
        padding: 0;
      }
    }

    a {
      color: $clr-white;
      line-height: 167%;
    }
  }

  &__icons {
    grid-area: icons;
    padding-bottom: 1.2rem;

    display: grid;
    grid-template-columns: repeat(4, 1.6rem);
    column-gap: 1.07rem;
    justify-content: center;
    align-items: center;

    @include lg {
      justify-content: flex-end;
      padding-bottom: 0;
    }
  }

  p {
    opacity: 0.5;
    padding-bottom: 2.73rem;

    @include lg {
      grid-area: copyright;
      text-align: right;
      padding-bottom: 0;
    }
  }

  .attribution {
    font-size: 0.73rem;
    text-align: center;
    opacity: 0.8;
    color: $clr-gray;

    a {
      font-size: inherit;
      color: $clr-white;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover {
        color: $clr-pink;
      }
    }
  }
}
